@model QuizVM

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">
            @(Model.Quiz.Id == 0 ? "Stwórz nowy quiz" : "Edytuj quiz")
        </h2>
        <a asp-action="Index" class="btn btn-outline-primary ms-2">
            <i class="fas fa-home"></i> Powrót
        </a>
    </div>
        
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Quiz.Id" type="hidden" />

        <!-- Quiz Title -->
        <div class="mb-3">
            <label asp-for="Quiz.Title" class="form-label fw-bold">Quiz Title</label>
            <input asp-for="Quiz.Title" type="text" class="form-control" placeholder="Enter quiz title" required />
            <span asp-validation-for="Quiz.Title" class="text-danger"></span>
        </div>

        <!-- Quiz Description -->
        <div class="mb-3">
            <label asp-for="Quiz.Description" class="form-label fw-bold">Description</label>
            <input asp-for="Quiz.Description" type="text" class="form-control" placeholder="Enter quiz description" required />
            <span asp-validation-for="Quiz.Description" class="text-danger"></span>
        </div>
        <!-- Quiz Questions -->
        <div id="question-container">
            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                ViewData.TemplateInfo.HtmlFieldPrefix = $"Questions[{i}]";
                @Html.Partial("_QuestionForm",Model.Questions[i])
            }
        </div>

        @* <button type="button" class="btn btn-primary" onclick="addQuestion(@Model.Quiz.Id, event)">
            <i class="fas fa-plus"></i> Add Question
        </button> *@
        <div class="button-container d-flex justify-content-between align-items-center mb-4">
            <button type="button" class="btn btn-outline-primary" onclick="addQuestion()">
                    Dodaj pytanie
                </button>
            <button type="submit" class="btn btn-success ms-2">
                <i class="fas fa-save"></i> @(Model.Quiz.Id == 0 ? "Zapisz" : "Zmień")
            </button>
        </div>

    </form>
</div>

@section Scripts{
<script>

    let questionIndex = @Model.Questions.Count;

    function addQuestion() {
        fetch(`/Quiz/GetQuestionForm?index=${questionIndex}`)
            .then(res => res.text())
            .then(html => {
                document.getElementById('question-container').insertAdjacentHTML('beforeend', html);
                questionIndex++;
            });
    };

    function addAnswer(button) {
        const container = button.closest('.question-block').querySelector('.answers-container');
        const answerIndex = container.children.length;

        // Szukamy prefixu np. Questions[0]
        const input = container.closest('.question-block').querySelector('input[name]');
        const match = input.name.match(/^Questions\[\d+\]/);
        const prefix = match ? match[0] : '';

        const html = `
                <div class="answer-block border rounded p-3 mb-2">
                    <div class="mb-2">
                        <label class="form-label fw-bold">Odpowiedź:</label>
                        <input name="${prefix}.Answers[${answerIndex}].Text" class="form-control" />
                        <input type="hidden" name="${prefix}.Answers[${answerIndex}].Id" value="${answerIndex}" />
                    </div>
                    <div class="form-check">
                        <input name="${prefix}.Answers[${answerIndex}].IsCorrect" class="form-check-input" type="checkbox" value="true"/>
                        <input type="hidden" name="${prefix}.Answers[${answerIndex}].IsCorrect" value="false"/>
                        <label class="form-check-label">Poprawna</label>
                    </div>
                    <button type="button" class="btn btn-outline-danger delete-answer mt-2" onclick="deleteAnswer(this)">Usuń odpowiedź</button>
                </div>
            `;

        container.insertAdjacentHTML('beforeend', html);
    };

    function reindexQuestion(){
        const questionBlocks = document.querySelectorAll('.question-block');
        
        questionBlocks.forEach((qBlock, qIndex) => {
            replaceInputsName(qBlock, qIndex, 'input[name], textarea[name]', /Questions\[\d+\]/, `Questions[${qIndex}]`)

            const answerBlocks = qBlock.querySelectorAll('.answer-block');
            answerBlocks.forEach((aBlock, aIndex) => {
                    replaceInputsName(aBlock, aIndex, 'input[name], textarea[name]', /Questions\[\d+\]\.Answers\[\d+\]/, `Questions[${qIndex}].Answers[${aIndex}]`);
            });
        });
    }

    function replaceInputsName(block,index,s1,s2,s3){
            const inputs = block.querySelectorAll(s1);
            inputs.forEach(input => {
                input.name = input.name.replace(s2, s3);
            });
    }
    function deleteBlock(button, tagName) {
        const block = button.closest(tagName);
        block.remove();
        //reindexQuestion();
    }
    function deleteQuestion(button){
        postDelete(button, '/quiz/deleteQuestion?id=', '.question-block');
    }
    function deleteAnswer(button) {
        postDelete(button, '/quiz/deleteAnswer?id=', '.answer-block');
    }

    function setFileName(input, index) {
        if (input.files.length > 0) {
            document.getElementById(`PathToFile_${index}`).value = input.files[0].name;
        }
    }

    function showFilePath(questionId) {
            const fileContainer = document.getElementById("file-container-" + questionId);
            console.log(fileContainer);
            fileContainer.classList.remove("d-none"); // Pokazuje div z polem ścieżki
            const filePathInput = document.getElementById("file-path-" + questionId);

            /*if (filePath) {
                filePathInput.value = filePath;
            } else {
                fileContainer.classList.add("d-none"); // Ukrywa div, jeśli użytkownik nie podał ścieżki
            }*/
        }
    function hideFilePath(questionId) {
            const fileContainer = document.getElementById("file-container-" + questionId);
            const filePathInput = document.getElementById("file-path-" + questionId);

            filePathInput.value = ""; // Czyści pole
            fileContainer.classList.add("d-none"); // Ukrywa div
        }

    //  function addQuestion(quizId, event) {
    //     event.preventDefault();
    //     const questions = document.querySelectorAll(".question");
       
    //     let questionIndex = 0;
    //     if (questions.length != 0) {
    //         const lastQuestionId = questions.length != 0 ? questions[questions.length - 1].id : 1;
    //         const match = lastQuestionId.match(/\d+$/);
    //         questionIndex = match ? parseInt(match[0], 10) + 1 : null;
    //     }
        
    //     const questionHtml = `
    //                     <div class="question border p-3 mt-3" id="question-${questionIndex}">
    //                     <input type="hidden" name="Questions[${questionIndex}].QuizId" value="${quizId}" />

    //                     <label>Pytanie:</label>
    //                         <input type="text" name="Questions[${questionIndex}].Text" class="form-control mb-2" required placeholder="Enter question text" />
                                
    //                         <!-- Przycisk do dodania ścieżki do pliku -->
    //                             <button type="button" class="btn btn-secondary mt-2" onclick="showFilePath(${questionIndex})">
    //                             <i class="fas fa-image"></i> Add Image
    //                         </button>

    //                         <!-- Div z polem ścieżki do pliku (ukryty domyślnie) -->
    //                             <div id="file-container-${questionIndex}" class="mt-3 d-none">
    //                             <label class="form-label fw-bold">Image / Audio Path:</label>
    //                             <div class="input-group">
    //                                     <input type="file" name="formFiles" class="form-control" placeholder="Enter file path" id="file-path-${questionIndex}" />
    //                                                     <input type="hidden" name="Questions[${questionIndex}].PathToFile" id="PathToFile_${questionIndex}" />

    //                                             <button type="button" class="btn btn-danger" onclick="hideFilePath(${questionIndex})">
    //                                     <i class="fas fa-times"></i> Remove
    //                                 </button>
    //                             </div>
    //                         </div>

    //                     <h4>Odpowiedzi</h4>
    //                     <div id="answers-container-${questionIndex}">
    //                         <!-- Odpowiedzi będą dodawane tutaj -->
    //                     </div>

    //                     <button type="button" class="btn btn-secondary mt-2" onclick="addAnswer(${questionIndex})">Dodaj odpowiedź</button>
    //                     <button type="button" class="btn btn-danger mt-2" onclick="removeElement('question-${questionIndex}')">Usuń pytanie</button>
    //                 </div>
    //         `;
    //     document.getElementById("question-container").insertAdjacentHTML('beforeend', questionHtml);
        
    // }

    // function addAnswer(questionIndex){
    //     console.log(`answers-container-${questionIndex}`)
    //         const answersContainer = document.getElementById(`answers-container-${questionIndex}`);
    //         const answerIndex = answersContainer.querySelectorAll(".answer").length;
    //         const answerHtml = `
    //             <div class="answer mt-2" id="answer-${questionIndex}-${answerIndex}">
    //                     <input type="text" name="Questions[${questionIndex}].Answers[${answerIndex}].Text" class="form-control" required />
    //                     <label>Poprawna odpowiedź?</label>
    //                     <input type="hidden" name="Questions[${questionIndex}].Answers[${answerIndex}].QuestionId" value="${questionIndex}" />

    //                         <input type="checkbox" name="Questions[${questionIndex}].Answers[${answerIndex}].IsCorrect" value="true" />
    //                         <input type="hidden" name="Questions[${questionIndex}].Answers[${answerIndex}].IsCorrect" value="false" />

    //                     <button type="button" class="btn btn-danger" onclick="removeElement('answer-${questionIndex}-${answerIndex}')">Usuń</button>
    //             </div>
    //         `;
    //     document.getElementById(`answers-container-${questionIndex}`).insertAdjacentHTML('beforeend', answerHtml);
    // }

    // function removeElement(id){
    //     console.log(`element id to delete: ${id}`)
    //     document.getElementById(id).remove();
    // }

        //url: `/quiz/deleteAnswer?id=${id}`
        //url: `/quiz/deleteQuestion?id=${id}`,
    function postDelete(button, url, tagName) {
            $.ajax({
                url: url+button.id,
                type: 'DELETE',
                success: function (data) {
                    console.log(data.message);
                    deleteBlock(button, tagName);
                }
            });
    }
</script>
}