@model TakeTestVM

@{
    ViewData["Title"] = "Rozwiąż quiz";
}

<h2 class="mb-4">@Model.Title</h2>
<form asp-action="TakeTest" method="post" novalidate>
    <input type="hidden" name="QuizId" value="@Model.QuizId" />

    <div class="mb-4">
        <label for="UserName" class="form-label">Twoje imię i nazwisko:</label>
        <input type="text" class="form-control" name="UserName" id="username" required minlength="6"/>
        <span class="error" aria-live="polite" id="username-error"></span>
    </div>

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions[i];

        

        <div class="mb-4 p-3 border rounded shadow-sm bg-light">
            <p class="fw-bold">Pytanie @(@i + 1): @question.Text</p>
            
            @if(!string.IsNullOrEmpty(question.ImgPath)){
                <img src="@question.ImgPath" style="width: 100%; height: auto;" />
            }
            
            
            @{
                var abc = new List<char>();
                for (int c = 97; c < 97 + question.Answers.Count; c++)
                {
                    abc.Add((char)c);
                }
            }
            @for (int j = 0; j < question.Answers.Count; j++)
            {
                var answer = question.Answers[j];

                <div class="form-check radio-group">
                    <input type="radio"
                           class="form-check-input"
                           name="Answers[@i].SelectedAnswer"
                           value="@answer"
                           id="radio-question[@question.QuestionId]-answer[@j]"
                           required />
                    <label class="form-check-label" for="radio-question[@question.QuestionId]-answer[@j]" style="width: 100%" >@abc[j]. @answer</label>
                </div>
            }

            <input type="hidden" name="Answers[@i].QuestionId" value="@question.QuestionId" />
        </div>
    }

    

    <button type="submit" class="btn btn-success" id="btn-submit">Zakończ</button>
</form>

@section Scripts {
    <script>
        const form = document.querySelector("form");
        const username = document.getElementById('username');
        const error = document.getElementById('username-error');

        username.addEventListener("input", () => {
            if (username.validity.valid) {
                error.textContent = "";
                error.className = "error";
            } else {
                showError();
            }
        });

        form.addEventListener("submit", (event) => {
            if (!username.validity.valid) {
                showError();
                event.preventDefault();
            }
            username.focus();
            username.scrollIntoView({ behavior: "smooth", block: "center" });
        });

        function showError() {
            if (username.validity.valueMissing) {
                error.textContent = "Wpisz imię i nazwisko";
            } else if (username.value.length < 6) {
                error.textContent = "Imię i nazwisko musi mieć co najmniej 6 znaków";
            } else {
                error.textContent = "Wpisz imię i nazwisko";
            }

            error.className = "error active";
        }
    </script>
}
