@model TakeTestVM

@{
    ViewData["Title"] = "Rozwiąż quiz";
}

<h2 class="mb-4">@Model.Title</h2>
<form asp-action="Submit" method="post">
    <input type="hidden" name="QuizId" value="@Model.QuizId" />

    <div class="mb-4">
        <label for="UserName" class="form-label">Twoje imię i nazwisko:</label>
        <input type="text" class="form-control" name="UserName" required />
    </div>

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions[i];

        

        <div class="mb-4 p-3 border rounded shadow-sm bg-light">
            <p class="fw-bold">Pytanie @(@i + 1): @question.Text</p>
            
            @if(!string.IsNullOrEmpty(question.ImgPath)){
                <img src="@question.ImgPath" style="width: 100%; height: auto;" />
            }
            
            
            @{
                var abc = new List<char>();
                for (int c = 97; c < 97 + question.Answers.Count; c++)
                {
                    abc.Add((char)c);
                }
            }
            @for (int j = 0; j < question.Answers.Count; j++)
            {
                var answer = question.Answers[j];

                <div class="form-check radio-group">
                    <input type="radio"
                           class="form-check-input"
                           name="Answers[@i].SelectedAnswer"
                           value="@answer"
                           id="radio-question[@question.QuestionId]-answer[@j]"
                           required />
                    <label class="form-check-label" for="radio-question[@question.QuestionId]-answer[@j]" style="width: 100%" >@abc[j]. @answer</label>
                </div>
            }

            <input type="hidden" name="Answers[@i].QuestionId" value="@question.QuestionId" />
        </div>
    }

    

    <button type="submit" class="btn btn-success">Zakończ i sprawdź wynik</button>
</form>